In [10]:
s='abcd'
for c in range(len(s)):
    print(c, end=" ")
print()
for c in s:
    print(c, end=" ")

0 1 2 3
a b c d

In [14]:
n=int(input())
for i in range(0, n, 1): #range(start, stop, stride)
    print(i)

8
3
5
7

In [34]:
#only one vale to range
n=int(input())
for i in range(0, n+1, 1): 
    print(i)

0
0

In [21]:
#only two vale to range

n=int(input())
for i in range(0, n+1): 
    print(i)

10
0
1
2
3
4
5
6
7
8
9
10

In [22]:
# n=int(input())
for i in range(5): 
    print(i)

0
1
2
3
4

In [135]:
def intersections(arr1, n, arr2, m) :
    for i in range(0, n):
        for j in range(0, m):
            if (arr2[j] == arr1[i]):
                print(arr1[i], end=' ')  
                arr2[j] = "undefine"
                break;
                
                
arr1 = [6,3,4,61,8,0,9,3]
n = len(arr1)
arr2 = [6,13,14,16,81,0,9,3, 67]
m = len(list2)

intersections(arr1, n, arr2, m)

6 3 0 9

In [23]:
def duplicateNumber(arr, n) :
    for i in range(0, n):
        count=0
        for j in range(0, n):
            if arr[j]==i:                
                count=count+1            
        if count>1:
            print(i, end=" ")
#             return i
        
arr = [4,0,4,6,0,6,3,3,5,2,1]
n = len(arr)      
duplicateNumber(arr, n)

0 3 4 6

In [47]:
a=int(input("start"))
b=int(input("range"))
for i in range(a, b+1, 1): 
    if i%3==0:
        print(i)

start3
range30
3
6
9
12
15
18
21
24
27
30

In [50]:
a=int(input("start"))
b=int(input("range"))

if a%3==0:
    s=a
elif a%3==1:
    s=a+2
else:
    s=a+1

for i in range(s, b+1, 3): 
    if i%3==0:
        print(i)

start7
range100
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [54]:
n=int(input())
i=2
flag=False

while i<n:
    if n%i==0:
        flag=True
        
    i+=1
if (flag):
    print("not prime")
else:
    print('prime')

6
not prime

In [75]:
n=int(input())
flag=False
for i in range(2, n, 1):
    if n%i==0:
        flag=True
    
if (flag):
    print("not prime")
else:
    print('prime')

4
not prime

In [86]:
n=int(input())
for i in range(1, n, 1):
    flag=False

    for j in range(2, i, 1):
        if i%j==0:
            flag=True
    
    if not(flag):
        print(i)

32
1
2
3
5
7
11
13
17
19
23
29
31

In [199]:
n=5
for i in range(1,n+1,1):
    # space
    for space in range(i, n, 1):
        print(' ', end='')
    # increase
    for increase in range(i, 2*i, 1):
        print(increase, end='')
        
    for dic in range(2*i, i, 1):
        print(dic, end='')
    
#     dic=i-1
#     while dic>0:
#         print(dic+i-1, end='')
#         dic-=1
        
    print()

    1
    23
    345
    4567
    56789

In [204]:
n=5
for i in range(1,n+1,1):
    for s in range(n-i):
        print(" ", end="")
    for j in range(i, 2*i, 1):
        print(j, end='')
    for j in range(2*i-2, i-1, -1):
        print(j, end='')        
    print()

    1
   232
  34543
 4567654
567898765

 ### break

In [207]:
i=1
while i<10:
    if i==5:  # break the loop
        break;
    print(i)
    i+=1

1
2
3
4

In [214]:
n=int(input())
flag = True
for i in range(2,n,1):
    if n%i==0:
        flag=False
        break     #it break the loop   

if flag:
    print("prime")
else:
    print("not prime")

1234567890
not prime

In [24]:
n=int(input())
for i in range(2, n, 1):
    flag=True
    for j in range(2, i, 1):
        if i%j==0:
            flag=False
            break
    if flag:
        print(i)

4
2
3

In [220]:
i=1
while i<5:
    if i==3:
        break
    print(i,end=" ")
    i = i +1

1 2

In [222]:
i=1
while i<3:
    j=1
    while j<5:
        if j==3:
            break
        print(j,end='')
        j = j + 1
    i = i + 1

1212

In [224]:
for i in range( 1, 10):
    print(i)
else:
    print(" print hello at end ")

1
2
3
4
5
6
7
8
9
 print hello at end

In [27]:
if True:
    print("if1")
if True:
    print("if2")
if True:
    print("if3")
elif True:
    print("elif")
else:
    print("else")

if1
if2
if3

In [29]:
if False:
    print("if1")
elif False:
    print("elif")
else:
    print("else")

else

In [30]:
if False:
    print("if1")
if False:
    print("if2")
if False:
    print("if3")
elif True:
    print("elif")
else:
    print("else")

elif

In [226]:
i=1
while i<10:
    print(i)
    i+=1
else:
    print(" print hello at end ")

1
2
3
4
5
6
7
8
9
 print hello at end

In [31]:
for i in range( 1, 10):
    print(i)
print(" print hello at end ")

1
2
3
4
5
6
7
8
9
 print hello at end

In [32]:
for i in range( 1, 10):
    if i==5:
        break
    print(i)
else:
    print(" print hello at end ")

1
2
3
4

In [34]:
n=int(input())
for i in range(2, n):
    if n%i==0:
        break
else:
    print("prime")

9

In [243]:
i=1
while i<5:
    if i == 6:
        break
    print(i,end=" ")
    i = i + 1
else:
    print('Else is also printed')

1 2 3 4 Else is also printed

In [247]:
i=1
while i<5:
    if i == 3:
        break
    print(i,end=' ')
    i = i + 1
else:
    print('Else is also printed')

1 2

In [248]:
n=int(input())
for i in range(2,n+1,2):
    if i%7!=0:
        continue
        
    print(i)

234
14
28
42
56
70
84
98
112
126
140
154
168
182
196
210
224

In [251]:
n=32
i=2
while i<=n:
    i+=1
    if i%7==0:
        continue
    print(i)

3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33

### Pass

In [253]:
i=3
if i<7:
    pass
print("hello")

hello

In [254]:
i=3
while i<7:
    pass
    i+=1
print("hello")

hello

In [256]:
for i in range(1,4):
    pass
print("hello")

hello

In [320]:
n = 8
for i in range(1, n+1, 1):    
    for J in range(1, n-i+2, 1):
        if i%2==0:
            print(0, end='')
        else:
            print(1, end='')
    print()

11111111
0000000
111111
00000
1111
000
11
0

In [360]:
n=6
# for i in range(1, n+1, 1):
#     print(i, end='')
for i in range(1,n+1,1):
    for s in range(1, i,1):
        print(" ",end='')
        
    for num in range(i, n+1, 1):
        print(num,end='')
    print()
    
for i in range(1,n,1):
    for sa in range(i, n-1, 1):
        print(" ",end='')
        
    for nums in range(n-i, n+1, 1):
        print(nums,end='')
        
    print()

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [570]:
n= int(input())
# n= 3
p= (n+1)//2
q= (n)//2
j=q
for i in range(1, p+1):
    
    for s in range(1, p-i+1, 1):
        print(' ', end='')
        
    for st in range(1, 2*i, 1):
        print('*', end='')
        
        
    print()
    

for j in range(q+1, 0, -1):
    print(j)
    
# while j>0: 
#     spaces=1
#     while spaces<=q-j+1:
#         print(' ' , end='')
#         spaces+=1
    
#     star=1
#     while star<=2*j-1:
#         print("*", end='')
#         star+=1
#     print()
#     j-=1

5
  *
 ***
*****
3
2
1

In [544]:
n= 7
p= (n+1)//2
q= (n)//2
j=q
i=1
while i<=p:
    s=0
    while s<=p-i:
        print(" ", end='')
        s+=1
    st=1
    while st<=(2*i)-1:
        print("*", end='')
        st+=1
    i+=1
    print()



while j>0:
    ss=1
    while ss<=q-j+2:
        print(" ", end='')
        ss+=1
    star=1
    while star<=2*j-1:
        print("*", end='')
        star+=1
    j-=1
    print()

    *
   ***
  *****
 *******
  *****
   ***
    *