### Print Helloworld

In [5]:
print("Vinay1");print("Vinay1")
print("Vinay")
print(10)
10

Vinay1
Vinay1
Vinay
10

10

### Variables

user :
uppercase, lowercase, number, _;
but one condition variable name not start with numbar.

In [2]:
a = 10;
b = 30
sum = a+b
print(sum); #print sum 

sum # output of sum

40

40

###  Assigning  different type of data to a variable

In [3]:
a = 10
a = 20
a = "hello"

a

'hello'

In [5]:
a = "abc"
print(type(a))
a = 12
print(type(a))

<class 'str'>
<class 'int'>

### Python Number

In [6]:
a1 = 32
a2 = 3.4
a3 = 4 + 5
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'int'>

In [7]:
a = 10
print(id(a))
a = a + 10
print(id(a))

2548361462288
2548361462608

In [30]:
a = 1060 
b = 1060
print(id(a))
print(id(b))

#both are store same laction
#(-5,-4,.......255,256)

2548438110480
2548438110608

In [18]:
a = 106
b = 106
print(id(a))
print(id(b))

#both are store same laction
#(-5,-4,.......255,256)

2612194643472
2612194643472

In [17]:
a = 10
id1 = id(a)
b = a + 2-2
id2 = id(b)
print(id1)
print(id(a))
print(id2)
print(id(b))

2612194640400
2612194640400
2612194640400
2612194640400

In [37]:
a = 10
id1 = id(a)
id1

2548361462288

In [38]:
b = a + 2-2
id2 = id(b)
id2

2548361462288

### Arithmatic Operation

In [39]:
a = 10
b = 4
print(a-b)
print(a+b)

6
14

In [40]:
print(a*b)

40

In [41]:
a/b # floating point division

2.5

In [43]:
a//b  #only int value or integer division

2

In [44]:
a**b #10^4 exponentiation

10000

In [45]:
a%b

2

In [46]:
2+3*4

14

In [47]:
(2+4)*4 # use bracket

24

In [48]:
2*3//4 # first operation is done multiplication

1

In [54]:
#simple interest
p = 100
r = 12
t = 2
#si =  r * p* t//100
#si = t//100* r * p
si = (p * r * t)//100
si

24

In [60]:
# Fah to celcium conversion
f = 99
c = (f-32)*5//9
c

37

## input

In [1]:
b = input()
a = int(input()) #float() take valid float or int 
# d = "2323r"  //error

print(type(a))
print(type(b))
b

34
34
<class 'int'>
<class 'str'>

'34'

In [2]:
# adding two number
a = float(input())
b = float(input())
s = a + b
print(s)

43
43
86.0

### Boolean Data type

In [14]:
a = True
b1 = False

c = "Ninjas"

a = 20
b = 100
print(a>b)
print(type(b1))

False
<class 'bool'>

### Relational Operators

In [16]:
a = 20
b = 100
print(a>b) #greater then a
print(a<b) #greater then b
print(a>=b) #greater then equal to a
print(a<=b) #greater then equal to b
print(a==b) #equal to a
print(a!=b) #not equal to a

False
True
False
True
False
True

### Logiacal Operators

In [21]:
a = 20                 #           &&   ||    
b = 100                # T   T     T    T
                       # T   F     F    T
c1 = a < 10            # F   T     F    T
c2 = b == 100          # F   F     F    F

print(c1 and c2)
print(c1 or c2)
print(!False)
print(!True)

False
True

### If else Condition

In [26]:
a = False
if a:
     print("hello if");
     print("hello if2")
else:
    print("hello else")

hello else

In [28]:
a = int(input())
b = a%2
is_b = (b==0)

if is_b:
     print("hello Even");
else:
    print("hello Odd")

79
hello Odd

In [29]:
a = int(input())
b = (a%2==0)

if b:
     print("hello Even");
else:
    print("hello Odd")

67
hello Odd

In [32]:
a = int(input())

if a % 2 == 0:
     print("hello Even");
else:
    print("hello Odd")

78
hello Even

In [33]:
x = 5
if x < 6:
    print("Hello")
if x == 5:
    print("Hi")
else:
    print("Hey")

Hello
Hi

In [34]:
 if (10 < 0) and (0 < -10):
     print("A")
 elif (10 > 0) or False:
     print("B")
 else:
    print("C")

B

In [35]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
       print('B')
    else:
      print('C')
else:
     print('D')

B

### Nested Conditionals

In [40]:
x = 5
y = 8
if x == 5:
#     print("Hello")
    if y == 5:
        print("Hi")
    else:
         print("no")        
else:
    print("Hey")

no

### While Loop

In [16]:
n = int(input())
count = 1
add = 0
while count <=n:
    print(count)
    count = count + 1

1
2
3
4
5
6
7
8
9
10

In [3]:
n = int(input()) 
count = 1
add = 0
while count <=n:
    add = add + count
    count = count + 1    
print(add)

77
3003

### Find X raised to power N

In [1]:
# Write your code here
x = int(input())
n = int(input())
count = 1
value = 1
while count <=n:
    value = value * x
    count = count + 1  
print(value)

3
3
27

### Arithmetic Progression (common difference)

In [9]:
# Write your code here
a = int(input())
b = int(input())
c = int(input())
 
d = b-a
e = c-b

if(d==e):
    print(d)
else:
    print("not common difference")

1
2
3
1

In [11]:
# You are given a rectangle in a plane. The coordinates of one of its diagonals are provided to you. 
#You have to print the total area of the rectangle.
#The coordinates of the rectangle are provided as four integral values: x1, y1, x2, y2. 
#It is given that x1 < x2 and y1 < y2.

a1 = int(input())
a2 = int(input())
b1 = int(input())
b2 = int(input())
 
d = (b1-a1)*(b2-a2)

print(d)

2
2
4
4
4

In [12]:
n = 10
#Check If the number is between 1 to 10
if n>=1 and n<=10:
    print("too low")

#Check If the number is between 10 to 20
elif n>=10 and n<=20:
    print("medium")

#Check If the number is between 20 to 30
elif n>=20 and n<=30:
    print("large")
#Check if the number is greater than 30 
else:
    print("too large")

too low

In [19]:
n = int(input())

if(n>0):
    print("Positive")
elif(n<0):
    print("Negative")
elif(n==0):
    print("Zero")
else:
    print("Error")

0
Zero

### prime number

In [47]:
n = int(input())
count = 2
flag = False
while(count<n):
    if(n%count==0):
       flag = True
    count = count + 1    
if flag:
     print("not prime")
else:
     print("prime")

21
not prime

In [83]:
n = int(input())
k = 2
while k <= n:
    d=2
    flag = False
    while d < k:
        if k % d == 0:
            flag = True   
        d = d + 1 
    if not(flag):
        print(k)
    k = k + 1

2
2

In [86]:
n = int(input())
count = 2
while count<n:
    d=2
    flag = True
    while d<count:
        if count%d==0:
            flag = False
        d = d+1
    if flag:
        print(count)
    count = count + 1

21
2
3
5
7
11
13
17
19

In [ ]:
# Write your code here

while True:
    n = int(input())
    while n:
        if n==1:
            a = int(input())
            b = int(input())
            print(a+b)
        elif n==2:
            a = int(input())
            b = int(input())
            print(a-b)
        elif n==3:
            a = int(input())
            b = int(input())
            print(a*b)
        elif n==4:
            a = int(input())
            b = int(input())
            print(a/b)
        elif n==5:
            a = int(input())
            b = int(input())
            print(a%b)
        elif n==6:
            exit()
        else:
            print("Invalid Operation")
exit()

3
3
3
9
6