####  while a string is a contiguous sequence of characters.
####  In Python, a string is a sequence of Unicode characters.
#### an other language a string is a sequence of ASCII characters.


##### Note: Unicode was introduced to include every character in all languages and bring uniformity in encoding. You can learn more about Unicode from Python Unicode. Given below are some examples of Unicode Encoding:
###### string ='pythön!' → Default UTF-8 Encoding: b'pyth\xc3\xb6n!'
###### string ='python!'→ Default UTF-8 Encoding: b'python!'


####  Python strings are immutable, which means they cannot be altered after they are created.

#### Strings can be created by enclosing a sequence of characters inside a single quote or double-quotes.
##### Note: We can use triple quotes to create docstrings and/or multiline strings.

In [1]:
# If you wish to print a string in a new line you can use 
# the new line character '\n'. This is
# used within the strings. For example:
print('First line\nSecond line')

First line
Second line

In [1]:
print(" my name is vinay")

 my name is vinay

In [2]:
a="my 
      name 
      is 
      vinay"
print(a)

SyntaxError: unterminated string literal (detected at line 1) (1227818303.py, line 1)

In [6]:
a= """ my 
name 
is 
vinay"""
print(a)

 my
name
is
vinay

In [2]:
# Accessing Characters in a String
s= "hello"
print(s[0]) #Output: h
print(s[2]) #Output: l
print(s[4]) #Output: o

h
l
o

In [3]:
# Negative Indexing

s= "hello"
print(s[-1]) #Output: o
print(s[-2]) #Output: l
print(s[-3]) #Output: l

o
l
l

In [14]:
a= """my
name
is
vinay"""

a[2]

'\n'

In [16]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])

m
y


n
a
m
e

In [18]:
a

'my\nname\nis\nvinay'

In [19]:
s="abcd"
s[0]='c'
print(s)

TypeError: 'str' object does not support item assignment

In [25]:
s ="abcd"
a = "abcd"
if id(s) == id(a):
    print("They are same")
else:
    print("They are not same")

They are same

In [27]:
s = "abcd"
print(s[-2])

c

In [7]:
# Concatenation Of Strings
str1 = 'Hello'
str2 ='World!'
print('str1 + str2 = ', str1 + str2)

str1 + str2 =  HelloWorld!

In [9]:
# Repeating/Replicating Strings
s= "hello"
print(s*3) #s*3 will produce a new string with s repeated thrice

hellohellohello

In [28]:
s = "abcd"
b = s + "ef"
print(s)

abcd

In [29]:
s = "abcd"
b = s + 2
print(b)

TypeError: can only concatenate str (not "int") to str

In [12]:
# String Slicing
# slice= <String Name>[StartIndex : StopIndex : Steps]

s = "abcdefghi"
print(s[2:7:2])
print(s[2:7:1])

ceg
cdefg

In [16]:
# Slice Using Negative Indices
s = "abcdefghi"
print(s[-7:-2])
print(s[-7:-2: 2]) # Specify Step of the Slicing

print(s[6:1:-2]) # negative step size:

cdefg
ceg
gec

In [59]:
# Slice the first three items from the string
s = "abcdefghi"
print(s[:3])

abc

In [60]:
# Slice the first three items from the string
s = "abcdefghi"
print(s[-1])

i

In [71]:
# Slice the first three items from the string
s = "abcdefghi"
print(s[::-1])

ihgfedcba

In [17]:
# Slice the last three items from the string
s = "abcdefghi"
print(s[6:])

ghi

In [ ]:
# Comparing Strings

In [35]:
# Iterating On Strings
s="13579"
# Using for loop
for i in s:
    print(i) #Print the character in the string

1
3
5
7
9

In [37]:
# Using for loop and range()

s="13579"
length = len(s) #Getting the length of the string
for i in range(length): #Iterations from 0 to (length-1)
 print(s[i])

1
3
5
7
9

In [40]:
str = "hello world"

In [42]:
count = 0
for letter in str:
    if(letter == "l"):
        count+=1
print(count)

3

In [44]:
count = 0
for letter in range(len(str)):
    if(str[letter] == "l"):
        count+=1
print(count)

3

In [45]:
if "hel" in str:
    print("Yes it is a substring")
else:
    print("Not a substring")

Yes it is a substring

In [46]:
if "heo" not in str:
    print("Yes it is not a substring")
else:
    print("No it is a substring")

Yes it is not a substring

In [48]:
# comparison operator on string
a = "vinay" == "vinay"
a

True

In [49]:
a = "vinay" != "vinay"
a

False

In [51]:
a = "vinay" >= "vinay"
a

True

In [52]:
a = "vinay" <= "vinay"
a

True

In [53]:
a = "vinay" > "vinay"
a

False

In [54]:
a = "vinay" < "vinay"
a

False

In [76]:
def checkPalindrome(num):
    temp = num
    rev  = num[::-1]
    if(rev == temp):
        return True
    else:
        return False

num = input()
isPalindrome = checkPalindrome(num)
if(isPalindrome):
    print('true')
else:
    print('false')

viv
true

In [85]:
str = "vinay"
print(str[2])

n

In [107]:
a_string = 'Was it a car or a cat I saw'

def palindrome(string):
    string = string.lower().replace(' ', '')
    reversed_string = ''.join(reversed(string))
    return string == reversed_string
print(palindrome(a_string))

True

In [108]:
a_string = 'Was it a car or a cat I saw'
def palindrome(string):
    string = string.lower().replace(' ', '')
    reversed = ''
    for i in range(len(string), 0, -1):
        reversed += string[i-1]
    return string == reversed
print(palindrome(a_string))

True

In [109]:
a_string = 'Was it a car or a cat I saw'
def palindrome(string):
    string = string.lower().replace(' ', '')
    first, last = 0, len(string) - 1
    while(first < last):
        if(string[first] == string[last]):
            first += 1
            last -= 1
        else:
            return False
    return True

print(palindrome(a_string))

True

In [111]:
a_string = 'Was it a car or a cat I saw'
def palindrome(string):
#     string = string.lower().replace(' ', '')
    first, last = 0, len(string) - 1
    while(first < last):
        if(string[first] == string[last]):
            first += 1
            last -= 1
        else:
            return False
    return True

print(palindrome(a_string))

True

In [112]:
a = "abce" >= "abcdef"
print(a)

True

In [115]:
a = "abce" >= "abcdef"
print(len("abce"), len("abcdef"))

4 6

## split

In [116]:
str = " my name is Viany"
li =  str.split()
print(li)

['my', 'name', 'is', 'Viany']

In [118]:
str = " my,name,is,Viany"
li =  str.split(",")
print(li)

[' my', 'name', 'is', 'Viany']

## replace

In [120]:
str = " my name is Viany"
li =  str.replace("Viany", "Archana")
print(li)

 my name is Archana

In [121]:
str = " my name is  Viany Viany Viany Viany"
li =  str.replace("Viany", "Archana")
print(li)

 my name is  Archana Archana Archana Archana

In [122]:
str = " my name is  Viany Viany Viany Viany"
li =  str.replace("Viany", "Archana", 2)
print(li)

 my name is  Archana Archana Viany Viany

In [133]:
str = " my name is  Vinay Vinay Vinay Vinay"
li =  str.replace("vinay", "Archana")
print(li)

 my name is  Vinay Vinay Vinay Vinay

## Find

In [134]:
str = "my name is  Vinay"
li =  str.find("n")
print(li)

3

In [135]:
str = "my name is  Vinay"
li =  str.find("nm") #no match
print(li)

-1

In [137]:
str = "my name is Vinay"
li =  str.find("Vinay", 10 , 15)
print(li)

-1

In [146]:
str = "my name is Vinay"
li =  str.find("Vinay", 11, 16)
print(li)

11

##  Lower and Upper

In [148]:
str = "my name is Vinay"
li =  str.lower()
print(li)

my name is vinay

In [149]:
str = "my name is Vinay"
li =  str.upper()
print(li)

MY NAME IS VINAY

In [ ]:
str = "my name is Vinay"
li =  str.find("Vinay", 8 , 15)
print(li)

## Startwith

In [151]:
str = "my name is Vinay"
li =  str.startswith("Vinay")
print(li)

False

In [152]:
str = "my name is Vinay"
li =  str.startswith("my")
print(li)

True

In [154]:
str = "my name is Vinay"
li =  str.startswith("My nam")
print(li)

False

In [155]:
str = "my name is Vinay"
li =  str.startswith("my nam")
print(li)

True

In [157]:
str = "my name is Vinay"
li =  str.startswith("Vinay", 11, 20)
print(li)

True

## replaceChar

In [176]:
def replaceChar(str, char1, char2):
    newstr = ""
    for char in str:
        if(char == char1):
            newstr = newstr + char2
        else:
            newstr = newstr + char
    return newstr
            
        


str = "hello_hello_hello_hello_hello_"
print(replaceChar(str, "h", "H"))

Hello_Hello_Hello_Hello_Hello_

In [55]:
S1 = "geeksforgeeks"
S1 = list(S1.rstrip())
S1

['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's']

## count number of vowels, consonants, digits, special characters in string

In [238]:
def countInStr(str):
    v, c, d, s = 0, 0, 0, 0
    
    for char in str:
        if ((char >='a' and char <= "z") or (char >='A' and char <= "Z")):
            char = char.lower()
            if (char == 'a' or char == "e" or char == 'i' or char == "o" or char == 'u'):
                v+=1
            else:
                c+=1
        elif(char >='0' and char <= "9"):
            d+=1
        else:
            s+=1
    return v,c,d,s 



str = "hello_2@hello_2@hello_2@hello_2@hello_2@"
v, c, d, s = countInStr(str)
print(v, c, d, s)
# print(countInStr(str))

10 15 5 10

## arePermutation

In [239]:
def arePermutation(str1, str2):
    n1 = len(str1)
    n2 = len(str2)

    if (n1 != n2):
        return False

    a = sorted(str1)
    str1 = " ".join(a)
    b = sorted(str2)
    str2 = " ".join(b)

	# Compare sorted strings
	for i in range(0, n1, 1):
		if (str1[i] != str2[i]):
			return False

	return True

# Driver Code
if __name__ == '__main__':
	str1 = "test"
	str2 = "ttew"
	if (arePermutation(str1, str2)):
		print("Yes")
	else:
		print("No")

# This code is contributed by
# Sahil_Shelangia

No

In [264]:
def fg(string1, string2, n1, n2):
    string1 = sorted(string1)
    string2 = sorted(string2)
    for i in range(0, n1, 1):
        if (string1[i] != string2[i]):
            return False

        return True
    
    
str1 = "test"
str2 = "estt"

n1 = len(str1)
n2 = len(str2)

fg(str1, str2, n1, n2)

True

## Remove Consecutive Duplicates

In [58]:
def removeDuplicates(S):
    n = len(S)
    if (n < 2) :
        return
    j = 0
    for i in range(n):
        if (S[j] != S[i]):
            j += 1
            S[j] = S[i]
    j += 1
    S = S[:j]
    return S
    

S1 = "aabccbaa"
S1 = list(S1.rstrip())
S1 = removeDuplicates(S1)
print(*S1, sep = "")

geksforgeks

##  Reverse Each Word

In [314]:
def reverseEachWord(string) :
	# Your code goes here
    string = str1.split()
    newstr = ""
    for i in string:
        string = i[::-1]
        newstr = newstr + string + " "
    return newstr


# str = "test, i am Vinay"
str1 = "Welcome to Coding Ninjas"
reverseEachWord(str1)

'emocleW ot gnidoC sajniN '

## Remove character

In [321]:
def removeCharacter(string, ch):

    newstr = ""
    
    for i in string:
        if ch != i:
            newstr+=i
    return newstr
    
    
    
str = "aabccbaa"
r = 'a'http://localhost:8888/notebooks/Python_Notebook_10.%20String.ipynb#Highest-Occuring-Character
removeCharacter(str, r)

bccb

## Highest Occuring Character

In [324]:
def highestOccuringCharacter(string):
    
    count = 0
    for i in string:
        print(ord(i), i)
        
#         if ch != i:
#             newstr+=i
#     return newstr
    
    
    
str = "abdefgbabfba"
r = 'a'
highestOccuringCharacter(str)

97 a
98 b
100 d
101 e
102 f
103 g
98 b
97 a
98 b
102 f
98 b
97 a

In [301]:

string = "test, i am Vinay"


for i in range(len(string)):
    if string[i] != " ":
            print( string[i])
#             st.append(string[i])

t
e
s
t
,
i
a
m
V
i
n
a
y

In [47]:

ind = 0

def gen_compressed_str(string):
    global ind
    comp_str = ""
    len_str = len(string)
    while (ind <= len_str):
        count = 1

        while ((ind < (len_str-1)) and (string[ind] == string[ind+1])):
            count = count + 1
            ind = ind + 1


        if (count == 1):
            comp_str = comp_str + str(string[ind])
        else:
            comp_str = comp_str + str(string[ind]) + str(count)
    
        ind = ind + 1

    return comp_str
      


string = "wwwwaaadexxxxxxywww"
gen_compressed_str(string)

TypeError: 'list' object is not callable