In [53]:
Student = "Alis"
age = 19
mark = 50.5
_18plus = True
anu = 1 + 8j

In [52]:
print(type(Student))
print(type(age))
print()
print(type(mark));print(type(_18plus))
print(type(mark)),print(type(_18plus))
print(isinstance(anu, complex)) ###*************

<class 'str'>
<class 'int'>

<class 'float'>
<class 'bool'>
<class 'float'>
<class 'bool'>
True

In [34]:
print(type(Student), print(type(age), "age"), type(mark))

<class 'int'> age
<class 'str'> None <class 'float'>

In [45]:
age = 19 * 2
print(age + 20)

58

In [54]:
# id

print(id(Student))
print(id(age))
print()
print(id(mark));print(id(_18plus))
print(id(mark)),print(id(_18plus))
print(isinstance(anu, complex)) ###*************

2548115071280
2548006191920

2548113989040
140712974994280
2548113989040
140712974994280
True

In [79]:
a = 10
b = 11
id1 = id(a)
id2 = a
id3 = a + 2521 - 2521
print(id(a))
print(id1)
print(id(id2))
print(id(id3))
print(id(b))

#both are store same laction
#(-5,-4,.......255,256)

2548006191632
2548006191632
2548006191632
2548006191632
2548006191664

In [100]:
a = 10//6
a1 = 10/6

b = 10//4
b1 = 10/4

c = 10//3
c1 = 10/3

d = 10**3
d1 = 10*10

e = 10%3
e1 = 10%10

# print(a, a1,  b, b1, c, c1, )
# print(d, d1)
print(e, e1)

1 0

In [111]:
a = input()
b = int(a)
print(type(b))

234567
<class 'int'>

#  condition

In [5]:
# boolean type output is True or False

if False:
    print("alis")
else:
    print("Vinay")

Vinay

In [6]:

if True:
    print("alis")
else:
    print("Vinay")

alis

In [10]:
marks = 90

if marks >= 35:
    print("Pass")
else:
    print("Fail")

Pass

In [22]:
mark = 100

if mark >= 35:
    
    if mark <= 50 :
        print("Just Pass")
        
    elif mark >= 50 and mark <= 80:
        print("second")
        
    else:
        print("First")
        
else:
    print("Fail")

First

In [44]:
a = 10
b = 20
c = 20
d = "20"

# print(a>b)
# print(a<b)
# print(a>=b)
# print(a<=b)
# print(c<=b)


# print(c == b)
# print(a == b)
# print(d == b)
print(c != b)
print(a != b)
print(d != b)

False
True
True

In [45]:
c = 10
d = 20

a = c < d
b = c > d

print(a or b)
print(a and b)
print(not False )
print( not True )

True
False
True
False

In [17]:
n = 10

start = 1
while start <= n:
    print(start)
    start = start + 1

1
2
3
4
5
6
7
8
9
10

In [14]:
# print nth number
n = 10

i = 1
sum = 0 
while i <= n:
    sum = sum + i
    i = i + 1
    
print(sum)

55

In [69]:
# sum of n number
n = 5

i = 1
mul = 1 
while i <= n:
    mul = mul * i
    i = i + 1 
print(mul)

120

In [13]:
a = int(input("enter number"))
b = int(input("enter power of number"))

i = 1
power = 1 
while i <= b:
    power = power * a
    i = i + 1
    
print(a, "is power of", b, "is" ,power)

enter A2
enter power of A3
2 is power of 3 is 8

## Relational Operators
## Logiacal Operators
## Nested Conditionals
## Find X raised to power N
## Arithmetic Progression (common difference)
## Prime number

In [23]:
a = int(input("enter A"))
b = int(input("enter B"))
c = int(input("enter C"))

d = b - a
e = c - b

if d == e:
    print(d)
else: 
    print("not common difference")

enter A2
enter B4
enter C6
2

In [40]:
inputs = int(input())

start = 2
mark = False

while (start<inputs):
    
    if inputs % start == 0:
        mark = True   
    start = start + 1
    

if mark:
    print("not prime")
else:
    print("prime")

3
prime

In [35]:
inputs = int(input())

start = 1

while (start<inputs):
    
    if start % 2 == 0:
        print(start)  
    start = start + 1

10
2
4
6
8

In [45]:
inputs = int(input())

start = 2
while (start<inputs):
    
    prime = True
    j = 2
    while j < start:
        
        if start % j == 0:
            prime = False
        j = j + 1
    
    if prime:
        print(j)
    
    start = start + 1

100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [65]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(start , end = " ")
        start2 = start2 + 1
        
    print()   
    start = start + 1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [66]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(start2 , end = " ")
        start2 = start2 + 1
        
    print()   
    start = start + 1

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [68]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(income-start2+1 , end = " ")
        start2 = start2 + 1
        
    print()   
    start = start + 1

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [69]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(income-start+1 , end = " ")
        start2 = start2 + 1
        
    print()   
    start = start + 1

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [71]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print("*" , end = " ")
        start2 = start2 + 1
        
    print()   
    start = start + 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [80]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(chr(65 + start2 -1) , end = " ")
        start2 = start2 + 1
        
    print()   
    
    start = start + 1

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [89]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(chr(65 + (income - start2 + 1) -1) , end = " ")
        start2 = start2 + 1
        
    print()   
    
    start = start + 1

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
income = 5

start = 1
while start <= income:
    
    start2 = 1
    while start2 <= income:
        print(chr(65 + (income - start + 1) -1) , end = " ")
        start2 = start2 + 1
        
    print()   
    
    start = start + 1